// Loading Icon Keyframe

@keyframes loading {
    10%{
        opacity: 0.1;
        transform: rotate(0.1turn);
    }

    20%{
        transform: rotate(0.5turn);
    }
    80%{
        transform: rotate(5turn);
        opacity: 1;
    }
    95%{
        opacity: 0;
        transform: rotate(6turn);
        
    }
    100%{
        z-index: -1;
    }
    
}

@keyframes fadeinafterload {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;

    }    
}