@mixin flexcenter(){

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin boxshadows(){
    box-shadow: $shadow;
}
@mixin boxshadows-light($border-radius:1rem){
    &::after{
        content:'';
        z-index: -1;
        position: absolute;
        opacity: 0;
        left:0;
        top:0;
        width: 100%;
        height:100%;
        box-shadow: $shadow-light;
        border-radius: $border-radius;
        transition: opacity 0.5s ease-in-out;
    }
    &:hover::after{
        opacity:1;
    }
   
}


@mixin globalmaxwidth{
    max-width: 600px;
}

@mixin homevisistedfixer(){
    &>a{
        text-decoration: none;
        &:visited{
            color: black;
        }
    }

    &>p{
        margin: 0;
        padding:30px;
        font-weight: bold;
        font-size: 22px;
    }
}
@mixin buttonstyle(){
    position: relative;
    display:  inline-block;
    margin:30px;
    width:60%;
    padding:25px;
    color:white;
    background-image: linear-gradient(to bottom right, #9356DC,#FF79DA) ;
    border-style: none;
    border-radius: 2rem 2rem;
    &>span{
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    &::before{
        z-index: -1;
        transition: all 0.5s ease-in-out;
        content:'';
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        @include flexcenter();
        border-radius: 2rem 2rem;
        height: 100%;
        opacity: 0;
        background-image: linear-gradient(to bottom right,  lighten(#9356DC,15%),lighten(#FF79DA,5%)) ;
    }
    &:hover::before{
        opacity: 1;
        }
    }

    @mixin food-elements($delay:1){
        $time:1s;
        & div:nth-child(1){
            opacity: 0;
            transform:translateY(15px);
            animation: menu-items $time ease-in-out $delay forwards;

        }
        display: grid;
        grid-template-rows: 50px repeat(3,100px);
        & div:nth-child(1)>p{
    
            width: auto;
            display: inline;
            text-transform: uppercase;
            position: relative;
             &::after{
                position: absolute;
                left:0;
                bottom:0;
                transform:translateY(100%);
                height: 3px;
                content: '';
                background-color: $color-tertiary;
                width: 50%;
                
            }
        }
    
        &__item{
            
            @for $i from 0 to 5{
                &:nth-of-type(#{$i}){
                    transform: translateY(25px);
                    opacity: 0;
                    animation: menu-items $time ease-in-out $delay forwards;
                    $time: $time+0.2;
                }
            }
            $radius:1rem 1rem;
            @include boxshadows-light($radius);
            &:hover{
                box-shadow: unset;
            }
            &:hover>&__checked{
                
                transform: scaleX(1);
                &>i{
                    transform:rotateY(1turn);
                }
            }
            &:hover>&__price{
                    transform:translateX(-120%);
            }
            >b{
                grid-area: a;
            }
            >p{
                grid-area: b;
                margin:10px 0 10px 0;
                
            }
            // overflow: hidden;
            position: relative;
            @include boxshadows;
            display:grid;
            grid-template-columns: 90% auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "a c"
            "b c";
            background-color: white;
            height: 80%;
            width: 100%;
            border-radius: $radius;
            padding: 1rem;
            &__price{
                grid-area: c;
                font-weight: bold;
                @include flexcenter;
                transition: transform 0.5s ease-in-out;
            }
            &__checked{
                transform: scaleX(0);
                content:"";
                position: absolute;
                @include flexcenter;
                font-size: 25px;
                color: white;
                right:0;
                width: 15%;
                height: 100%;
                background-color: $color-tertiary;
                border-radius: 0 1rem 1rem 0;
                transition: transform 0.5s ease-in-out;
                transform-origin: 100% 0%;
                &>i{
                    transform:rotateY(180deg);
                    transition: transform 1s ease-in-out;
                }
    
            }
        }
    }
