$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-darkgrey:rgb(234,234,234);
$color-lightgray:rgb(246,246,246);
$icon-color:rgb(126,126,126);
$footercolor:rgb(53,53,53);
$loadingtime:3s;
$fade-in:$loadingtime+3s;