@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/keyframes';
@import './elements/loading_icon';
@import './pages/home';


body {
    min-width: 300px;
    margin: 0;
    position: relative;
}
*{
    box-sizing: border-box;
    font-family: Roboto;
    z-index: 0;

}
a{
    text-decoration: none;
}