@-webkit-keyframes loading {
  10% {
    opacity: 0.1;
    -webkit-transform: rotate(0.1turn);
            transform: rotate(0.1turn);
  }
  20% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  80% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
  100% {
    z-index: -1;
  }
}

@keyframes loading {
  10% {
    opacity: 0.1;
    -webkit-transform: rotate(0.1turn);
            transform: rotate(0.1turn);
  }
  20% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  80% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
  100% {
    z-index: -1;
  }
}

@-webkit-keyframes fadeinafterload {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeinafterload {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.fa-sync-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  top: 30%;
  left: 0;
  opacity: 0;
  -webkit-animation: loading 3s ease-in-out 0s forwards;
          animation: loading 3s ease-in-out 0s forwards;
  font-size: 150px;
  z-index: 999;
}

.cover {
  -webkit-animation: fadeinafterload 3s ease-out 3s forwards;
          animation: fadeinafterload 3s ease-out 3s forwards;
  position: absolute;
  background-color: white;
  z-index: 33;
  top: 0;
  width: 100%;
  height: 100%;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 100%;
  background-color: #eaeaea;
}

.location span {
  margin-left: 1rem;
}

.booking-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.booking-section h1 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.booking-section span {
  text-align: center;
  padding-bottom: 30px;
  display: inline-block;
}

.booking-section__button {
  display: inline-block;
  margin: 30px;
  width: 60%;
  padding: 25px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 2rem 2rem;
  max-width: 600px;
}

.how-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how-div > a {
  text-decoration: none;
}

.how-div > a:visited {
  color: black;
}

.how-div > p {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
}

.how-div__box {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eaeaea;
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 1.5rem 1.5rem;
  position: relative;
  max-width: 600px;
}

.how-div__nmbr {
  display: inline-block;
  position: absolute;
  left: -2%;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.how-div__text {
  padding-left: 30px;
}

.restaurants {
  width: 100%;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants > a {
  text-decoration: none;
}

.restaurants > a:visited {
  color: black;
}

.restaurants > p {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
}

.imagebox {
  position: relative;
  z-index: 0;
  overflow: hidden;
  max-width: 600px;
  border-radius: 1rem 1rem;
  background-color: white;
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
}

.imagebox__img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagebox__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 25%;
      grid-template-columns: auto 25%;
}

.imagebox__desc__text {
  margin-left: 10px;
}

.heartholder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.fas.fa-heart {
  color: #9356DC;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

.fas.fa-heart:hover {
  opacity: 1;
}

.fas.fa-heart:active {
  opacity: 1;
}

.heartcheck {
  position: absolute;
  z-index: -999;
  opacity: 0;
}

.heartcheck:checked + label i {
  opacity: 1;
}

.heartcheckbox {
  position: absolute;
}

.footerdiv {
  background-color: #353535;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerdiv > img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100px;
  margin-bottom: 20px;
}

.footerdiv > a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

.footerdiv > a:visited {
  color: white;
}

.footerdiv .fas {
  width: 1rem;
  margin-right: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px;
}

.logo img {
  width: 50%;
  max-width: 600px;
  margin: auto;
}

.img-container {
  width: 100%;
}

.img-container img {
  max-width: 100%;
}

.menu-container {
  padding-left: 30px;
  position: relative;
  top: -30px;
  border-radius: 2rem 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.menu-container__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

body {
  min-width: 300px;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  z-index: 0;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */