@-webkit-keyframes loading {
  10% {
    opacity: 0.1;
    -webkit-transform: rotate(0.1turn);
            transform: rotate(0.1turn);
  }
  20% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  80% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
  100% {
    z-index: -1;
  }
}

@keyframes loading {
  10% {
    opacity: 0.1;
    -webkit-transform: rotate(0.1turn);
            transform: rotate(0.1turn);
  }
  20% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  80% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
  100% {
    z-index: -1;
  }
}

@-webkit-keyframes fadeinafterload {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeinafterload {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes menu-items {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-items {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes loading-cover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6turn);
            transform: translateX(-50%) translateY(-50%) rotate(6turn);
  }
}

@keyframes loading-cover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(6turn);
            transform: translateX(-50%) translateY(-50%) rotate(6turn);
  }
}

@-webkit-keyframes beta-spinner-loader-first {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  5% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  20% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  40% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(2565deg);
            transform: rotate(2565deg);
  }
}

@keyframes beta-spinner-loader-first {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  5% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  20% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
  40% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(2565deg);
            transform: rotate(2565deg);
  }
}

@-webkit-keyframes beta-spinner-loader-second {
  0% {
    opacity: 1;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  20% {
    -webkit-transform: rotate(765deg);
            transform: rotate(765deg);
  }
  40% {
    -webkit-transform: rotate(1125deg);
            transform: rotate(1125deg);
  }
  100% {
    -webkit-transform: rotate(2610deg);
            transform: rotate(2610deg);
  }
}

@keyframes beta-spinner-loader-second {
  0% {
    opacity: 1;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  20% {
    -webkit-transform: rotate(765deg);
            transform: rotate(765deg);
  }
  40% {
    -webkit-transform: rotate(1125deg);
            transform: rotate(1125deg);
  }
  100% {
    -webkit-transform: rotate(2610deg);
            transform: rotate(2610deg);
  }
}

@-webkit-keyframes beta-spinner-loader-third {
  0% {
    opacity: 1;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  5% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  20% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
  40% {
    -webkit-transform: rotate(1170deg);
            transform: rotate(1170deg);
  }
  100% {
    -webkit-transform: rotate(2655deg);
            transform: rotate(2655deg);
  }
}

@keyframes beta-spinner-loader-third {
  0% {
    opacity: 1;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  5% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  20% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg);
  }
  40% {
    -webkit-transform: rotate(1170deg);
            transform: rotate(1170deg);
  }
  100% {
    -webkit-transform: rotate(2655deg);
            transform: rotate(2655deg);
  }
}

@-webkit-keyframes beta-spinner-loader-fourth {
  0% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  5% {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
  }
  20% {
    -webkit-transform: rotate(855deg);
            transform: rotate(855deg);
  }
  40% {
    -webkit-transform: rotate(1215deg);
            transform: rotate(1215deg);
  }
  100% {
    -webkit-transform: rotate(2700deg);
            transform: rotate(2700deg);
  }
}

@keyframes beta-spinner-loader-fourth {
  0% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  5% {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
  }
  20% {
    -webkit-transform: rotate(855deg);
            transform: rotate(855deg);
  }
  40% {
    -webkit-transform: rotate(1215deg);
            transform: rotate(1215deg);
  }
  100% {
    -webkit-transform: rotate(2700deg);
            transform: rotate(2700deg);
  }
}

@-webkit-keyframes beta-spinner-loader- {
  0% {
    opacity: 1;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  5% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  20% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  40% {
    -webkit-transform: rotate(1260deg);
            transform: rotate(1260deg);
  }
  100% {
    -webkit-transform: rotate(2745deg);
            transform: rotate(2745deg);
  }
}

@keyframes beta-spinner-loader- {
  0% {
    opacity: 1;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  5% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg);
  }
  20% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  40% {
    -webkit-transform: rotate(1260deg);
            transform: rotate(1260deg);
  }
  100% {
    -webkit-transform: rotate(2745deg);
            transform: rotate(2745deg);
  }
}

.fa-sync-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  top: 30%;
  left: 0;
  opacity: 0;
  -webkit-animation: loading 3s ease-in-out 0s forwards;
          animation: loading 3s ease-in-out 0s forwards;
  font-size: 150px;
  z-index: 999;
}

.cover {
  -webkit-animation: fadeinafterload 3s ease-out 3s forwards;
          animation: fadeinafterload 3s ease-out 3s forwards;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 33;
  top: 0;
  width: 100%;
  height: 100%;
}

.fas.fa-spinner {
  margin-top: -100%;
  position: relative;
  opacity: 0;
  -webkit-animation: loading 3s linear 0s forwards;
          animation: loading 3s linear 0s forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-size: 150px;
  z-index: 999;
}

.fas.fa-spinner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: loading-cover 3s linear 0s forwards;
          animation: loading-cover 3s linear 0s forwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  left: 0%;
  background-color: white;
  z-index: 1500;
}

.beta-spinner {
  position: absolute;
}

.beta-spinner.first {
  -webkit-animation: beta-spinner-loader-first 5s linear 0.3s 1 forwards;
          animation: beta-spinner-loader-first 5s linear 0.3s 1 forwards;
  opacity: 0;
}

.beta-spinner.second {
  -webkit-animation: beta-spinner-loader-second 5s linear 0.6s 1 forwards;
          animation: beta-spinner-loader-second 5s linear 0.6s 1 forwards;
  opacity: 0;
}

.beta-spinner.third {
  -webkit-animation: beta-spinner-loader-third 5s linear 0.9s 1 forwards;
          animation: beta-spinner-loader-third 5s linear 0.9s 1 forwards;
  opacity: 0;
}

.beta-spinner.fourth {
  -webkit-animation: beta-spinner-loader-fourth 5s linear 1.2s 1 forwards;
          animation: beta-spinner-loader-fourth 5s linear 1.2s 1 forwards;
  opacity: 0;
}

.loading-plane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: -100%;
}

.location {
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
          box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 100%;
  background-color: #eaeaea;
}

.location span {
  margin-left: 1rem;
}

.booking-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.booking-section h1 {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.booking-section span {
  text-align: center;
  padding-bottom: 30px;
  display: inline-block;
}

.booking-section__button {
  position: relative;
  display: inline-block;
  margin: 30px;
  width: 60%;
  padding: 25px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 2rem 2rem;
  max-width: 600px;
}

.booking-section__button > span {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.booking-section__button::before {
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem 2rem;
  height: 100%;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bc95e9), to(#ff93e1));
  background-image: linear-gradient(to bottom right, #bc95e9, #ff93e1);
}

.booking-section__button:hover::before {
  opacity: 1;
}

.how-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how-div > a {
  text-decoration: none;
}

.how-div > a:visited {
  color: black;
}

.how-div > p {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
}

.how-div__box {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  -webkit-box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
          box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
  background-color: #eaeaea;
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 1.5rem 1.5rem;
  position: relative;
  max-width: 600px;
}

.how-div__box > i {
  -webkit-transition: color 0.5s ease-in-out , -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease-in-out , -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease-in-out , transform 0.5s ease-in-out;
  transition: color 0.5s ease-in-out , transform 0.5s ease-in-out , -webkit-transform 0.5s ease-in-out;
}

.how-div__box:hover > i {
  color: #9356DC;
  -webkit-transform: scale(1.5) rotate(30deg);
          transform: scale(1.5) rotate(30deg);
}

.how-div__box:hover {
  color: #9356DC;
}

.how-div__box::after {
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
          box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
  border-radius: 1.5rem 1.5rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.how-div__box:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 850px) {
  .how-div__box:focus::after {
    opacity: 1;
  }
}

.how-div__nmbr {
  display: inline-block;
  position: absolute;
  left: -2%;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.how-div__text {
  padding-left: 30px;
}

.restaurants {
  width: 100%;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants > a {
  text-decoration: none;
}

.restaurants > a:visited {
  color: black;
}

.restaurants > p {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
}

@media only screen and (min-width: 500px) {
  .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .restaurants > p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.imagebox {
  -webkit-box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
          box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
  position: relative;
  z-index: 0;
  max-width: 600px;
  border-radius: 1rem 1rem;
  background-color: white;
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
}

.imagebox::after {
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
          box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
  border-radius: 1rem 1rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.imagebox:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 850px) {
  .imagebox:focus::after {
    opacity: 1;
  }
}

.imagebox__img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 70%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagebox__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 25%;
      grid-template-columns: auto 25%;
}

.imagebox__desc__text {
  margin-left: 10px;
}

.heartholder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.fas.fa-heart {
  color: #9356DC;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

@media only screen and (min-width: 850px) {
  .fas.fa-heart:hover {
    opacity: 1;
  }
}

.fas.fa-heart:active {
  opacity: 1;
}

.fas.fa-heart:active {
  opacity: 1;
}

.heartcheck {
  position: absolute;
  z-index: -999;
  opacity: 0;
}

.heartcheck:checked + label i {
  opacity: 1;
}

.heartcheckbox {
  position: absolute;
}

.footerdiv {
  background-color: #353535;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerdiv > img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100px;
  margin-bottom: 20px;
}

.footerdiv > a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

.footerdiv > a:visited {
  color: white;
}

.footerdiv .fas {
  width: 1rem;
  margin-right: 10px;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px;
}

.logo img {
  width: 50%;
  max-width: 600px;
  margin: auto;
}

.logo > a {
  position: absolute;
  left: 10px;
  font-size: 45px;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.logo > a:hover {
  color: #9356DC;
}

.img-container {
  width: 100%;
}

.img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu-container {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin-top: -30px;
  border-radius: 2rem 2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.menu-container__header {
  font-style: italic;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.menu-container__header > h1 {
  font-family: Shrikhand;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-foods-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px (100px)[3];
      grid-template-rows: 50px repeat(3, 100px);
  grid-auto-rows: 100px;
}

.container-foods-one div:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-animation: menu-items 1s ease-in-out 0s forwards;
          animation: menu-items 1s ease-in-out 0s forwards;
}

.container-foods-one div:nth-child(1) > p {
  width: auto;
  display: inline;
  text-transform: uppercase;
  position: relative;
}

.container-foods-one div:nth-child(1) > p::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 3px;
  content: '';
  background-color: #99E2D0;
  width: 50%;
}

.container-foods-one__item {
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
          box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% auto;
      grid-template-columns: 90% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "a c" "b c";
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 1rem 1rem;
  padding: 1rem;
}

.container-foods-one__item:nth-of-type(0) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1s ease-in-out 0s forwards;
          animation: menu-items 1s ease-in-out 0s forwards;
}

.container-foods-one__item:nth-of-type(1) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.2s ease-in-out 0s forwards;
          animation: menu-items 1.2s ease-in-out 0s forwards;
}

.container-foods-one__item:nth-of-type(2) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.4s ease-in-out 0s forwards;
          animation: menu-items 1.4s ease-in-out 0s forwards;
}

.container-foods-one__item:nth-of-type(3) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.6s ease-in-out 0s forwards;
          animation: menu-items 1.6s ease-in-out 0s forwards;
}

.container-foods-one__item:nth-of-type(4) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.8s ease-in-out 0s forwards;
          animation: menu-items 1.8s ease-in-out 0s forwards;
}

.container-foods-one__item:nth-of-type(5) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 2s ease-in-out 0s forwards;
          animation: menu-items 2s ease-in-out 0s forwards;
}

.container-foods-one__item::after {
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
          box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
  border-radius: 1rem 1rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container-foods-one__item:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 850px) {
  .container-foods-one__item:focus::after {
    opacity: 1;
  }
}

.container-foods-one__item:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.container-foods-one__item:hover > .container-foods-one__item__checked {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container-foods-one__item:hover > .container-foods-one__item__checked > i {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.container-foods-one__item:hover > .container-foods-one__item__price {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.container-foods-one__item:hover > b, .container-foods-one__item:hover > p {
  width: 80%;
}

.container-foods-one__item > b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.container-foods-one__item > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin: 10px 0 10px 0;
}

.container-foods-one__item > b, .container-foods-one__item > p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  text-overflow: ellipsis;
  margin: 0;
}

.container-foods-one__item__price {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container-foods-one__item__checked {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: white;
  right: 0;
  width: 15%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.container-foods-one__item__checked > i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.container-foods-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px (100px)[3];
      grid-template-rows: 50px repeat(3, 100px);
  grid-auto-rows: 100px;
}

.container-foods-two div:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-animation: menu-items 1s ease-in-out 0.5s forwards;
          animation: menu-items 1s ease-in-out 0.5s forwards;
}

.container-foods-two div:nth-child(1) > p {
  width: auto;
  display: inline;
  text-transform: uppercase;
  position: relative;
}

.container-foods-two div:nth-child(1) > p::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 3px;
  content: '';
  background-color: #99E2D0;
  width: 50%;
}

.container-foods-two__item {
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
          box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% auto;
      grid-template-columns: 90% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "a c" "b c";
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 1rem 1rem;
  padding: 1rem;
}

.container-foods-two__item:nth-of-type(0) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1s ease-in-out 0.5s forwards;
          animation: menu-items 1s ease-in-out 0.5s forwards;
}

.container-foods-two__item:nth-of-type(1) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.2s ease-in-out 0.5s forwards;
          animation: menu-items 1.2s ease-in-out 0.5s forwards;
}

.container-foods-two__item:nth-of-type(2) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.4s ease-in-out 0.5s forwards;
          animation: menu-items 1.4s ease-in-out 0.5s forwards;
}

.container-foods-two__item:nth-of-type(3) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.6s ease-in-out 0.5s forwards;
          animation: menu-items 1.6s ease-in-out 0.5s forwards;
}

.container-foods-two__item:nth-of-type(4) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.8s ease-in-out 0.5s forwards;
          animation: menu-items 1.8s ease-in-out 0.5s forwards;
}

.container-foods-two__item:nth-of-type(5) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 2s ease-in-out 0.5s forwards;
          animation: menu-items 2s ease-in-out 0.5s forwards;
}

.container-foods-two__item::after {
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
          box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
  border-radius: 1rem 1rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container-foods-two__item:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 850px) {
  .container-foods-two__item:focus::after {
    opacity: 1;
  }
}

.container-foods-two__item:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.container-foods-two__item:hover > .container-foods-two__item__checked {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container-foods-two__item:hover > .container-foods-two__item__checked > i {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.container-foods-two__item:hover > .container-foods-two__item__price {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.container-foods-two__item:hover > b, .container-foods-two__item:hover > p {
  width: 80%;
}

.container-foods-two__item > b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.container-foods-two__item > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin: 10px 0 10px 0;
}

.container-foods-two__item > b, .container-foods-two__item > p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  text-overflow: ellipsis;
  margin: 0;
}

.container-foods-two__item__price {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container-foods-two__item__checked {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: white;
  right: 0;
  width: 15%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.container-foods-two__item__checked > i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.container-foods-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px (100px)[3];
      grid-template-rows: 50px repeat(3, 100px);
  grid-auto-rows: 100px;
}

.container-foods-three div:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-animation: menu-items 1s ease-in-out 1s forwards;
          animation: menu-items 1s ease-in-out 1s forwards;
}

.container-foods-three div:nth-child(1) > p {
  width: auto;
  display: inline;
  text-transform: uppercase;
  position: relative;
}

.container-foods-three div:nth-child(1) > p::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 3px;
  content: '';
  background-color: #99E2D0;
  width: 50%;
}

.container-foods-three__item {
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
          box-shadow: 0 4px 8px 0 #7e7e7e, 0 6px 20px 0 #eaeaea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% auto;
      grid-template-columns: 90% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "a c" "b c";
  background-color: white;
  height: 80%;
  width: 100%;
  border-radius: 1rem 1rem;
  padding: 1rem;
}

.container-foods-three__item:nth-of-type(0) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1s ease-in-out 1s forwards;
          animation: menu-items 1s ease-in-out 1s forwards;
}

.container-foods-three__item:nth-of-type(1) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.2s ease-in-out 1s forwards;
          animation: menu-items 1.2s ease-in-out 1s forwards;
}

.container-foods-three__item:nth-of-type(2) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.4s ease-in-out 1s forwards;
          animation: menu-items 1.4s ease-in-out 1s forwards;
}

.container-foods-three__item:nth-of-type(3) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.6s ease-in-out 1s forwards;
          animation: menu-items 1.6s ease-in-out 1s forwards;
}

.container-foods-three__item:nth-of-type(4) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 1.8s ease-in-out 1s forwards;
          animation: menu-items 1.8s ease-in-out 1s forwards;
}

.container-foods-three__item:nth-of-type(5) {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
  -webkit-animation: menu-items 2s ease-in-out 1s forwards;
          animation: menu-items 2s ease-in-out 1s forwards;
}

.container-foods-three__item::after {
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
          box-shadow: 0 0px 2px 3px #eaeaea, 0 0px 20px 6px #7e7e7e;
  border-radius: 1rem 1rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container-foods-three__item:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 850px) {
  .container-foods-three__item:focus::after {
    opacity: 1;
  }
}

.container-foods-three__item:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.container-foods-three__item:hover > .container-foods-three__item__checked {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container-foods-three__item:hover > .container-foods-three__item__checked > i {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.container-foods-three__item:hover > .container-foods-three__item__price {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.container-foods-three__item:hover > b, .container-foods-three__item:hover > p {
  width: 80%;
}

.container-foods-three__item > b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.container-foods-three__item > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin: 10px 0 10px 0;
}

.container-foods-three__item > b, .container-foods-three__item > p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  text-overflow: ellipsis;
  margin: 0;
}

.container-foods-three__item__price {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container-foods-three__item__checked {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: white;
  right: 0;
  width: 15%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.container-foods-three__item__checked > i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.orderbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orderbutton__button {
  position: relative;
  display: inline-block;
  margin: 30px;
  width: 60%;
  padding: 25px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 2rem 2rem;
}

.orderbutton__button > span {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.orderbutton__button::before {
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem 2rem;
  height: 100%;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#bc95e9), to(#ff93e1));
  background-image: linear-gradient(to bottom right, #bc95e9, #ff93e1);
}

.orderbutton__button:hover::before {
  opacity: 1;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("/fonts/Shrikhand-Regular.ttf");
}

body {
  min-width: 300px;
  max-width: unset;
  margin: 0 auto;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  z-index: 0;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */