//Importing main variables and mixins which can be called in any sub element

@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/keyframes';

//Importing components from components folder which can be found on all pages::after
@import './components/footer';
@import './components/heart';
@import './components/logo';

//Importing Page specific layouts / elements from each SCSS file
@import './pages/home';
@import './pages/menus';



//Font setup for every page
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('./fonts/Shrikhand-Regular.ttf');
}


// All style on every page
body {
    min-width: 300px;
    max-width: $maxwidthpage;
    margin: 0 auto;
    position: relative;
}
*{
    box-sizing: border-box;
    font-family: Roboto;
    z-index: 0;

}
