.footerdiv{
    background-color: $footercolor;
    color: white;
    width:100%;
    display:flex;
    padding:30px;
    flex-direction: column;
    &>img{
        filter: invert(100%);
        width: 100px;
        margin-bottom: 20px;
    }
    &>a{
        margin-top:10px;
        text-decoration: none;
        color:white;
        &:visited{
            color:white;
        }
    }
    & .fas{
        width: 1rem;
        margin-right: 10px;
    }
}