.logo{
    position: relative;
    @include flexcenter();
    width:100%;
    & img{
        width: 50%;
        max-width: 600px;    
        margin:auto;
    }
    padding: 20px;
    &> a{
        position: absolute;
        left:10px;
        font-size: 45px;
        transition:  color 0.5s ease-in-out;
        &:hover{
            color:$color-primary;
        }
    }
}


